<!DOCTYPE html>
<html lang="en">

<head>
     {{>headerlinks}}</head>

<body>
   {{>navbar}}
    <!--Main header-->
    <div class="container_fluid main_header">
         
            <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/about.jpg" alt="not found" class="img-fluid" title="brijesh"
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a  <span class="text_clr">full stack web developer</span> and a student.</h1>
                        <a href="http://www.google.com/"><button>about me</button></a>
                    </div>

                    <!--right side div-->
                    
                    </div>
                </div>
            </div>
        
    </div>
    <!--footer code-->
    {{>footer}}
</body>

</html>